.ingrediente {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.2fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 0.1fr repeat(3, 0.25fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.ingrediente_nuevo {
  grid-area: 1 / 2 / 2 / 3;
}
.ingrediente_calculado {
  grid-area: 1 / 4 / 2 / 5;
}
.personas {
  grid-area: 3 / 3 / 4 / 4;
}
.botones {
  grid-area: 5 / 3 / 6 / 4;
}
