* {
  font-family: "Quicksand", sans-serif;
}

html{
    /* background-image: url("img/background.png"); */
  background-image: url("img/background.jpg");
  background-size: 120% 120%;
  background-repeat: no-repeat;
  height: 100%;
}

#content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#personas {
  background: #fbdbb8;
  border: 3px solid #000;
  border-radius: 5px;
  margin: 20px;
  padding: 0.5rem;
  min-width: 340px;
  display: block;
  justify-content: center;
  align-items: center;
}

.data {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calCo {
  width: 20px;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem;
  text-align: center;
}

.AddPers {
  margin: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
}

button {
  padding: 0.8rem;
  background: #deaa94;
  border: 3px solid #000;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}

h2 {
  text-align: center;
}
#ingrediente {
  min-width: 340px;
  max-width: 90%; /* Cambiado para que se adapte al ancho de la página */
}

.ingredientTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem;
  text-align: center;
}

#ingredientes_box {
  background-color: #fadce6;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 3px solid #000;
  border-radius: 5px;
}

.ingredientesBoxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Cambiado para que los elementos se envuelvan cuando el espacio es insuficiente */
  justify-content: space-between; /* Cambiado para distribuir los elementos horizontalmente */
  align-items: flex-start; /* Cambiado para alinear los elementos en la parte superior */
}

.ingredientColumn input {
  max-width: 90%; /* El input se ajustará al ancho máximo de su contenedor */
}
.ingredientColumn {
  flex: 1;
  margin-right: 8px;
  margin-bottom: 8px; /* Espacio inferior entre columnas */
  max-width: calc(33.33% - 8px); /* Calcula el ancho máximo de cada columna */
}

.ingredientData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#in_label{
  display: flex;
  flex-direction: column;
}

#botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
  margin-bottom: 10px; 
}

#botones button {
  width: 100%;
  padding: 10px; 
  box-sizing: border-box;
}

button:hover{
  background-color: #c38f82;
}

button:active{
  background-color: #906960;
}


#saved_ingredients{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;

}

.saved_ingredients_block{
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;
}

.saved_ingredients_each{
  font-size: 1.2rem;
  font-weight: bold;
}

td {
  text-align: center;
}

.alert{
  margin: 10px;
  padding: 10px;
  background-color: #f04739;
  border: 3px solid #000;
  border-radius: 5px;
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
}

