
* {
  font-family: "Quicksand", sans-serif;
}

html {
  background-image: url("img/background.png");
  background-size: 180%;
  background-repeat: no-repeat;
}
#content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


body {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#personas {
  background: #fbdbb8;
  border: 3px solid #000;
  border-radius: 5px;
  margin: 20px;
  padding: 0.5rem;
  min-width: 370px;
  width: 70%;
  display: block;
  justify-content: center;
  align-items: center;
}

.data {
  padding: 10px;
  display: flex;
}

#calCo {
  width: 20px;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem;
  text-align: center;
}

.AddPers {
  margin: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

button {
  padding: 0.8rem;
  background: #deaa94;
  border: 3px solid #000;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}

h2 {
  text-align: center;
}

.ingredientTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem;
  text-align: center;
}



#ingredientes_box {
  background-color: #fadce6;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 3px solid #000;
  border-radius: 5px;
}

.ingredientesBoxContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
}

.ingredientColumn {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-right: 8px;
}

.ingredientColumn::last-child {
  margin-right: 0;
}

.ingredientData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#in_label{
  display: flex;
  flex-direction: column;
}

#botones button{
  margin-right:10px ;
}
#botones button:last-child{
  margin-right:0px ;
}
#saved_ingredients{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;

}

.saved_ingredients_block{
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;
}

.saved_ingredients_each{
  font-size: 1.2rem;
  font-weight: bold;
}

td {
  text-align: center;
}

.alert{
  margin: 10px;
  padding: 10px;
  background-color: #f04739;
  border: 3px solid #000;
  border-radius: 5px;
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
}

button:hover{
  background-color: #c38f82;
}

button:active{
  background-color: #906960;
}
