@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

body {
    background: linear-gradient(135deg, #BDF2D5 0%, #4B5D67 25%, #484848 50%, #3C2C3E 75%, #FF06B7 100%);
    background-size: 100% 100%;
    color: white;
    font-family: monospace;
    min-width: 710px;
    min-height: 800px;
}



.titulo_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
.titulo {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 32px;
    text-align: center;
    margin: 10px ;
    background-color: #222;
    color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: inline-block;
    position: relative;
    animation: zoomOut 5s infinite;

  }
  
  .titulo span {
    display: inline-block;
    position: relative;
    animation: spin 2s infinite;
  }
  
  @keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
  }
  

.menu {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 10%;
  padding: 0;
  max-width: 80%;
}

.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu button {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00b8d4;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .menu button:hover {
    background-color: #0052cc;
  }
  
  .menu button:active {
    box-shadow: none;
    transform: translateY(2px);
  }
  


.menu a {
  text-decoration: none;
  color: inherit;
}


.base {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  background-color: #555;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.base button {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00b8d4;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 10px;
  }
  
  .base button:hover {
    background-color: #0052cc;
    color: #fff;
  }
  
  .base button:active {
    box-shadow: none;
    transform: translateY(2px);
  }

  .base a {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
  }
  
  .base a:hover {
    color: #0052cc;
  }

.icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
}

#icons_notes{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  color: #222;
}
