body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Inconsolata", monospace;

  background-color: black;
}

#container {
  width: 800px; /* Ajusta el tamaño que desees */
  height: 550px; /* Ajusta el tamaño que desees */
  /* border: 10px solid #ccc; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navigator {
  width: 100%;
  height: 650px;
}

#bar {
  background: linear-gradient(to bottom, #504c42, #37362e);
  width: 99, 99%;
  height: 10%;
  border: 2px solid #817f7c;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

#top {
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #817f7c;
  display: flex;
  align-items: center;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.red {
  background: #ff5352;
}

.red:hover {
  background: #ff0f0f;
}

.yellow {
  background: #e5bf2a;
}
.yellow:hover {
  background: #e7e245;
}

.green {
  background: #4caf50;
}
.green:hover {
  background: #41a741;
}

#title {
  color: #c7c3b8;
  font-size: 20px;
  margin-left: 10px;
  margin: auto;
  font-size: medium;
}

#bottom {
  width: 100%;
  height: 45%;
  border-bottom: 5px solid #31312d;
  display: flex;
}

.tab{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid #817f7c;
  color:#c7c3b8 ;
  padding-left: 5px;
}

.tab:last-child{
  border-right: none;
}

.tab svg{
  width: 18px;
  height: 18px;
}

.tab span{
  text-align: center;
  flex-grow: 1;
}

.tab:hover{
  background: #535146;
  cursor: pointer;
}

#content {
  background: #263238;
  width: 99, 99%;
  height: 90%;
  border: 2px solid #817f7c;
  border-radius: 0 0 10px 10px;
  border-top: none;
  display: flex;
}

#ascii {
  display: flex; /* Añade display: flex; para activar las propiedades flex */
  width: 40%;
  height: 100%;
  margin-top: 100px;
  flex-direction: column;
  text-align: center;
}

#caparazon-top {
  color: #00823c;
}

#caparazon-bot {
  color: #e5cf93;
}

.colordiv {
  display: flex;
  height: 10px;
  margin-top: 40px;
  padding-left: 40px;
}

.cube {
  width: 20px;
  height: 20px;
  margin: 3px;
}

.u {
  background: #dedddc;
}

.d {
  background: #252524;
}

.l {
  background: #7a7a7a;
}

.r {
  background: #b9321b;
}

.b {
  background: #d9d9d9;
}

.a {
  background: #232423;
}

li {
  display: flex;
  padding: 3px;
}

.title {
  color: #e5cf93;
}

.data {
  color: #cbd0d2;
}

.tech {
  width: 100%;
}

a {
  text-decoration: none;
}

#content svg {
  margin: 0 10px 10px 0;
  transition: transform 0.3s;
}

#content svg:hover{
  transform: scale(1.3);
}

button{
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}
